.subject-tab {
    font-size: 18px !important;
    border: 1px solid #C9447E !important;
}

.tab-btn-item {

    /*margin-left: 360px !important;*/
}
.body-content{
    width: 100%;
    /*margin-left: 300px;*/
}
